name: Refresh Volumes

on:
    schedule:
        - cron: '0 0 * * 0' # Runs every Sunday at midnight UTC. You can customize the schedule using cron syntax.
    workflow_dispatch: # This allows manual triggering from the GitHub Actions UI.

jobs:
    refresh:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Setup Node.js
              uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
              with:
                node-version-file: '.nvmrc'

            - name: Setup pnpm
              uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
              with:
                  run_install: true

            - name: Refresh Radar Datasets
              env:
                GOOGLE_SHEET_ID: ${{ vars.GOOGLE_SHEET_ID }}
                GOOGLE_CLIENT_EMAIL: ${{ secrets.GOOGLE_CLIENT_EMAIL }}
                GOOGLE_PRIVATE_KEY: ${{ secrets.GOOGLE_PRIVATE_KEY }}
              run: |
                  export GOOGLE_SHEET_ID=$GOOGLE_SHEET_ID
                  export GOOGLE_CLIENT_EMAIL=$GOOGLE_CLIENT_EMAIL
                  export GOOGLE_PRIVATE_KEY=$GOOGLE_PRIVATE_KEY
                  pnpm start

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  commit-message: |
                    Automated dataset refresh
                  branch: automated/volume-updates
                  delete-branch: true
                  title: "Radar Volumes Refresh"
                  body: |
                    Refresh technology radar datasets from latest sources.
                  labels: |
                    data-refresh
                  reviewers: setchy
